.box {
    width: 1130px;
}
.containerTitle {
    display: flex;
    justify-content: space-between;
    width: 991px;
    padding-left: 20px;
}
.mediumBox {
    width: 124px;
    text-align: start;
    padding-left: 30px;
    white-space: nowrap
}
.mediumBoxForFIO {
    width: 163px;
    text-align: start;
    white-space: nowrap
}
.numberOfBooks {
    width: 30px;
    padding-right: 60px;
    padding-left: 30px;
}
.list {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left:0px;
}
.li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 20px;
}
.li::before {
    content: counter(my-counter); 
    counter-increment: my-counter; 
    color: #000000; 
    margin-right: 0.5em;
}
.li:hover {
    background-color: #ff4d0017;
}
.line {
    border: 0.1px solid rgba(0, 0, 0, 0.041);
}
