.userNavMenuContainer {
   display: flex;
   justify-content: space-between;
   width: 1280px;
   margin: 0 auto;
   margin-bottom: 20px;
}

.genreContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100px;
   cursor: pointer;
}

.genreIcon {
   width: 37;
   height: 12px;
}

.containerForLinks {
   display: flex;
   justify-content: space-between;
   width: 600px;
   margin-right: 200px;
}

.linkText {
   font-weight: 400;
   font-size: 14px;
   color: #222222;
   cursor: pointer;
}

.linkActiveText {
   font-weight: 600;
   font-size: 14px;
   color: #ff4c00;
   cursor: pointer;
}

.buttonSize {
   width: 100px;
   height: 40px;
}

.icon {
   margin-right: 10px;
}

.popUp {
   display: flex;
   flex-direction: column;
   background: #fff5f5;
   box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
   color: #222222;
   width: 100px;
   height: 53px;
   padding: 10px;
   position: absolute;
   margin-top: 10px;
   cursor: pointer;
   animation: slide-down 300ms ease-out forwards;
}

.logoutModal {
   display: flex;
   flex-direction: column;
   padding-left: 68px;
   padding-right: 68px;
   padding-bottom: 20px;
}

.buttons {
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
}

.logout {
   border-bottom: 3px solid #c4c4c4;
   padding: 5px;
   margin: 0;
   cursor: pointer;
}
.profile {
   cursor: pointer;
   color: #222222;
   margin: 0;
}
@keyframes slide-down {
   from {
      opacity: 0;
      transform: translateY(-3rem);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
