.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
    
    /* Button color and styles */
    .btn--btn1 {
        background-color: #1C1C1C;
        padding: 10px 24px;
        color:#FFFFFF;
        border:none;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
       
    }
    .btn--btn1:hover {
        background: #484848;
    }
    .btn--btn1:active{
        background: #F34901;
        
    }
    
    
    
    .btn--btn2 {
        background-color: #F34901;
        padding: 8px 40px;
        color:#FFFFFF;
        border:none;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
    }
    .btn--btn2:hover {
        background: #FE6F33;
    }
    .btn--btn2:active{
        background: #E54400;
    }
    
    
    .btn--btn3 {
        background-color: #F8F8F8;
        padding: 10px 24px;
        color: #C4C4C4;
        border:none;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
    }
    
    .btn--btn3:hover{
        background: #FE6F33;
        color: #FFFFFF;
    }
    
    .btn--btn3:active{
        color: #FFFFFF;
        background: #E54400;
    }
    
    .btn--btn4 {
        background-color: #F8F8F8;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        padding: 10px 24px;
        color:#969696;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
    
    .btn--btn4:hover{
        background: #F34901;  
        color: #F8F8F8;
    
    }
    

    .btn--btn5 {
        background: #F34901;
        padding: 10px 24px;
        width: 209px;
        height: 42px;
        font-family: Open Sans, sans-serif;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        border:none;
        display: flex;
        justify-content: space-evenly;
    }
    


    .btn--btn6{
        width: 242px;
        height: 40px;
        left: 16px;
        top: 16px;
        background: #F8F8F8;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
    }

    .btn--btn6:hover{
        background: #F8F8F8;
        border: 1px solid #F34901;
        box-sizing: border-box;
        color: #F34901;
    }


    .btn--btn7{
        width: 177px;
        height: 42px;
        left: 80px;
        top: 125px;
        border: 1px solid #FF4C00;
        box-sizing: border-box;
        background: #fafafa;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FF4C00;

    }
