.mainContainerUpdateBookForm {
   margin-left: 10px;
}
.updateBookSection{
   margin-top: 33px;
}
/* Скрываем элемент <input type="file" /> */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.example {
   height: 178px;
   width: auto;
   background-color: red;
}

input[type='file'] {
   display: none;
}

.adminBlog {
   font-family: 'Open Sans', sans-serif;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-left: 20px;
}

.labelBlog {
   padding-right: 20px;
}

.type {
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   font-size: 16px;
   line-height: 130%;
   color: #222222;
   margin: 0;
   padding: 0;
   text-align: start;
}

.changeFormSection {
   display: flex;
}

.checkbox {
   display: flex;
   padding-top: 12px;
   padding-right: 36px;
   align-items: center;
}

.radioBtn {
   margin-right: 10px;
}

.changeTypeofBookUploadSection {
   padding-top: 76px;
   padding-bottom: 30px;
}
.uploadthreeBooks {
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   font-size: 18px;
   line-height: 130%;
   text-align: start;
   color: #969696;
}

.buttonForAdminPage {
   position: relative;
   top: 100px;
   left: 530px;
   padding: 10px 24px;
   width: 137px;
   height: 42px;
   background: #f34901;
}

input[type='radio'] {
   width: 20px;
   height: 20px;
   border: 1px solid #f34901;
   border-radius: 50%;
   background-clip: content-box;
   padding: 3px;
   accent-color: #f34901;
   box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type='time']::-webkit-calendar-picker-indicator {
   background: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
