.profileContainer {
    width: 1360px;
    height: 300px;
}.informationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
}
.deleteContainer {
    display: flex;
    justify-content: flex-end;
}
.smallBox {
    width: 450px;
    height: 100px;
}
.smallAutoBox {
    width: 100%;
    height: 100px;
}
.title {
    color: #898989;
}
.deleteBtn {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: red;
}