.input input {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px 18px;
   box-sizing: border-box;
   border: 1px solid #c4c4c4;
   background: #fafafa;
   outline: none;
   font-family: Open Sans, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 130%;
   color: #222222;
   margin-top: 10px;
   margin-bottom: 10px;
}
input.hasError {
   border-color: red;
}

.input label {
   font-family: Open Sans, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 130%;
   text-align: center;
   color: #222222;
}

.input input::placeholder {
   color: #969696;
}
.input input:hover {
   background: #ffffff;
   border: 1px solid #c4c4c4;
   box-sizing: border-box;
}

.input input:active {
   background: #ffffff;
   border: 1px solid #c4c4c4;
   box-sizing: border-box;
}
.redStar {
   color: red;
   margin-left: 5px;
}
