
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

}

.popup-inner {
    position: relative;
    background-color: rgb(175, 30, 30);
}

