.circle3 {
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   height: 150px;
   width: 150px;
   margin: -25px 0 0 -25px;
   border: 6px rgb(201, 193, 193) solid;
   border-top: 6px #f34901 solid;
   border-right: 6px #f34901 solid;
   border-bottom: 6px #f34901 solid;
   border-radius: 50%;
   -webkit-animation: spin3 1s infinite linear;
   animation: spin3 1s infinite linear;
}

@-webkit-keyframes spin3 {
   from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
   }
}
@keyframes spin3 {
   from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
   }
}
