.profileContainer {
    width: 1130px;
    height: 420px;
    padding: 60px 30px;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
}

.deleteContainer {
    display: flex;
    justify-content: flex-end;
}

.smallBox {
    width: 440px;
    height: 100px;
}

.title {
    color: #898989;
}
