.meddiumContainer {
    display: flex;
    margin-bottom: 120px;
}
.containerForInformation {
    margin-left: 100px;
    width: 505px;
    height: 430px;
}
.containerForBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
    width:100%;
}
.button {
    width: 240px;
    height: 40px;
    cursor: pointer;
}
.title {
    margin-top: 65px;
}

.firstImage {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 351px;
    height: 571px;
}
.secondImage {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 201px;
    height: 321px;
    margin-left: 20px;
}