.containerForAudioPlayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 232px;
}
.waveformContainer {
    width: 156px;
}
.time {
    color: #969696;
    font-size: 14px
}