.styles {
    list-style-type: none;
    margin: 0;
}

.vedorbookcardimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card img {
    width: 305px;
    height: 448px;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

